<div class="account-container">
  <h2 class="title">Account</h2>
  <div class="account-details">
    <h3><%= current_user.name %> <%= current_user.last_name %></h3>
    <h3><%= current_user.email %></h3>
  <%= button_to "LOG OUT", destroy_user_session_path, class:"continue-shopping", method: :delete %>
  </div>
</div>
