<div class="success-container">
  <h1>Payment Successful!</h1>
  <p>Thank you for your purchase. The beers will be with you shortly.</p>
  <%= link_to "Continue shopping", root_path, class: "continue-shopping"%>
</div>
