.grid-container {
  margin: 0px 300px;
}

.beer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.beer-card {
  margin: 15px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.beer-image {
  width: 85%;
  height: auto;
  transition: transform 0.5s ease;
  transform-origin: top;
}

.beer-card:hover .beer-image {
  transform: scale(1.2);
  object-fit: cover;
}

.beer-image-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
}

.beer-card:hover .overlay {
  opacity: 1;
}

.beer-info {
  text-align: center;
}

.beer-title, .beer-price {
  margin: 0;
}

.view-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.view-button:hover {
  background-color: grey;
  color: white;
}
