.show-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.show-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
  max-width: 1000px;
  width: 100%;
}

.beer-image-show {
  flex: 1;
  width: 30%;
  max-width: 50%;
  height: auto;
  display: block;
  margin: auto;
}

.info-show {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.beer-company-text {
  margin-bottom: -10px;
}

.show-beer-title {
  display: flex;
  margin: 15px 0px;
}

.show-beer-title h2 {
  font-size: 50px;
  margin: 0;
  font-weight: 400;
}

.show-beer-price {
  display: flex;
}

.show-beer-price p {
  margin: 5px 0px;
  font-size: 20px;
}

.show-tax p {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 12px;
  font-style: italic;
}

.add-button {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  padding: 10px 0px;
  background-color: transparent;
  color: rgb(56, 56, 56);
  text-decoration: none;
  border-radius: 2px;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out, color 0.5s linear, background-color 0.5s linear;
  border: 2px solid rgb(56, 56, 56);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  width: 100%;
}

.add-button:hover {
  background-color: rgb(56, 56, 56);
  color: white;
}

.show-beer-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-title {
  font-size: 20px;
  font-weight: bold;
  color: #7e7e7e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.detail-content {
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
