.grid-container {
  margin: 0px 300px;
}

.beer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.beer-card {
  margin: 15px;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.6s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // color: white;
    border-radius: 2px;

    .beer-info {
      text-align: center;
      transform: translateY(-80%);
      opacity: 1;
      transition: transform 0.4s ease;
    }

    .beer-action {
      margin-top: 10px;
      opacity: 1;
      transition: transform 0.4s ease;
      transform: translateY(80%)
    }
  }

  &:hover .overlay {
    opacity: 1;

    .beer-info, .beer-action {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}

.beer-image {
  width: 85%;
  height: auto;
  transition: transform 0.5s ease;
  transform-origin: top;
}

.beer-card:hover .beer-image {
  transform: scale(1.2);
  object-fit: cover;
}

.beer-image-container {
  position: relative;
}

.beer-title {
  margin: 0;
  color: white;
}

.beer-price {
  margin: 0;
  color: rgb(148, 147, 147);
  margin-top: 5px;
}

.view-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 40px;
  background-color: transparent;
  color: white;
  text-decoration: none;
  border-radius: 2px;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out, color 0.5s linear, background-color 0.5s linear;
  border: 2px solid white;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.view-button:hover {
  background-color: white;
  color: rgb(20, 20, 20);
}
