.cart-container {
  display: flex;
  justify-content: center;
}

.cart-left-column,
.cart-right-column {
  display: flex;
  flex-direction: column;
}

.cart-left-column {
  flex: 8;
}

.cart-right-column {
  flex: 2;
  padding: 10px;
  display: flex;
  margin: 70px 5px;
  box-shadow: 0 0 0 2px rgb(179, 179, 179);
  border-radius: 4px;
  align-self: flex-start;
  margin-left: -60px;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-cart {
  margin-top: 10px;
  font-size: 45px;
  font-weight: 300;
  width: 70%;
}

.price-title {
  display: flex;
  justify-content: right;
  width: 70%;
  font-size: 20px;
  border-bottom: 1px solid rgb(153, 152, 152);
}

.cart-items-column {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart-item-card {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(153, 152, 152);
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px 0px;
  width: 70%;
}

.cart-item-card > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cart-item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
}

.cart-item-image img {
  max-width: 100%;
  max-height: 100%;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 20px 10px;
  align-items: flex-start;
  width: 33.33%;
}

.cart-item-title {
  font-size: 30px;
  margin-top: 0;
  font-weight: normal;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  gap: 5px;
}

.quantity-form {
  display: flex;
  width: 50%;
}

.quantity-input {
  padding: 5px;
  border: 2px solid rgb(179, 179, 179);
  border-radius: 4px;
  font-size: 16px;
  margin-right: 7px;
  width: 26%;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.quantity-update-button {
  padding: 7px 10px;
  border: 2px solid rgb(179, 179, 179);
  background-color: #ffffff;
  color: rgb(179, 179, 179);
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out, color 0.5s linear, background-color 0.5s linear;
}

.quantity-update-button:hover {
  background-color: white;
  border: 2px solid rgb(139, 139, 139);
  color: rgb(139, 139, 139);
}

.cart-bin {
  background-color: white;
  color: grey;
  border-radius: 4px;
  border: 2px solid rgb(179, 179, 179);
  padding: 6px 10px;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out, color 0.5s linear, background-color 0.5s linear;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-bin:hover {
  border: 2px solid rgb(213, 156, 156);
  color: rgb(213, 156, 156);
}

.cart-item-price {
  display: flex;
  margin: 20px 0px;
  align-items: flex-end;
  justify-content: flex-start;
  text-align: right;
  width: 33.33%;
  font-size: 25px;
  font-weight: bold;
}

.total-price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 20px;
}

.total-price p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.button_to {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-button {
  margin: 10px;
  padding: 7px 10px;
  border: 2px solid rgb(179, 179, 179);
  background-color: #ffffff;
  color: rgb(179, 179, 179);
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out, color 0.5s linear, background-color 0.5s linear;
  text-decoration: none;
  text-align: center;
}

.checkout-button:hover {
  border: 2px solid rgb(139, 139, 139);
  color: rgb(139, 139, 139);
  background-color: #e1e1e1;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 70px auto;
  text-align: center;
}

.title-cart {
  white-space: nowrap;
}
