@import 'bootstrap';

.checkout-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.banner-checkout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(214, 214, 214);
  width: 100%;
}

.hidden-div{
  visibility: hidden;
}

.image-container {
  flex-grow: 1;
  text-align: center;
}

.checkout-image  {
  width: 8%;
  align-self: center;
  height: auto;
}

.checkout-icon {
  margin: 0px 14px;
  font-size: 24px;
  display: flex;
  text-decoration: none;
  margin-left: -200px;
}

.checkout-icon i.fa-solid {
  color: black !important;
}

.checkout-main {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  flex-grow: 1;
  height: 100%;
}

.checkout-left, .checkout-right {
  width: 100%;
  padding: 40px;
}

.checkout-left {
  display: grid;
}

.checkout-right {
  display: flex;
  border-left: 1px solid #ccc;
  flex-direction: column;
  background-color: rgb(244, 244, 244);
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
}

.checkout-form {
  justify-self: flex-end;
}

.cart-summary ul {
  list-style-type: none;
  padding: 0;
}

.cart-summary ul li {
  margin-bottom: 10px;
}

.form-control {
  margin-bottom: 15px;

  &:focus {
    outline: none;
    border: 1px solid rgb(0, 0, 0);
  }
}

.place-order-buttom {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  padding: 10px 0px;
  background-color: rgb(117, 117, 117);
  color: white;
  text-decoration: none;
  border-radius: 3px;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out, color 0.5s linear, background-color 0.5s linear;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  width: 100%;
}

.place-order-buttom:hover {
  background-color: rgb(56, 56, 56);
  color: white;
}
