.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.header-image-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.header-image {
  color: #fff;
  padding: 5px;
  width: 13%;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 20px;
  align-self: center;
}

.header-icons {
  display: flex;
  align-items: center;
}

.nav-links, .nav-icons {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li a {
  margin: 0px 14px;
  font-size: 20px;
}

.header-menu a {
  text-decoration: none;
  color:rgb(88, 95, 101);
}

.header-menu a:hover {
  text-decoration: underline;
}

.header-icon {
  margin: 0px 14px;
  font-size: 24px;
}

.announcement-bar {
  background-color: rgb(0, 0, 0);
  text-align: center;
}

.bar-message {
  text-align: center;
  padding: 0.3rem 2rem;
  margin: 0;
  letter-spacing: 0.3rem;
  color: white;
}
